a{
    text-decoration: none;
}
header > div nav ul li a,
header > div > ul li p,
#about figcaption p,
section.videoArea h2,
section.expArea ul,
footer *{
    font-family: "Roboto"; 
}
header > div > ul li h2,
#about figcaption h2,
section.expArea > *:not(ul){
    font-family: 'Playfair Display';
}
.btn_more{
    font-family: 'Hammersmith One'; font-weight: 400; text-align: center; display: block;
    font-size: 16px; border: 1px solid #00e0d0; color: #00e0d0; 
}
section[class$='Area'] > hr{
    width: 3%; min-width: 50px; border-width: 2px 0 0; border-style: solid; margin: 0 auto 45px;
}
/* 
처음부터 구조상으로 미리 약속하는 모듈방식
class가 Area로 끝나는 직계 hr 
데스크탑에서는 width가 3%가 맞지만 다른 기기에서는 최소 50px까지만 줄어들게
*/

/* ? A/U */
@media screen and (min-width:1280px) {
    #about,
    section.expArea,
    footer > div{
        max-width: 940px; margin: 0 auto; padding: 70px 0;
    }
    /* 위에서 아래로 순서대로 그룹핑해야됨 */

    .btn_more{
        padding: 10px 0.6%; box-sizing: border-box; 
    }
/* desktop엔 괜찮아보여도 tablet, mobile에 어떻게 나올지 모르기때문에 확실한 것만 A/U에 넣어놓고 
불확실한 것들은 밑에다 정리해놓기 >> 이게 모듈의 정확한 방법 */
    header{
        background: url('../images/bg_01.png') left top / cover no-repeat; padding: 15px 0 70px;
    }
    header > div{
        max-width: 940px; margin: 0 auto; position: relative;
    }
    header > div h1{
        max-width: 128px; 
    }
    header > div h1 a{
        display: block; 
    }
    header > div h1 a img{
        width: 100%; display: block;
    }
    header > div nav{
        position: absolute; right: 0; top: 0; width: 100%; padding-left: 130px; 
        box-sizing: border-box; text-align: right;
    }
    /* width : 100%에 padding주면 뚱뚱해지기 때문에 box-sizing을 넣어줘야 img랑 안겹침 */
    /* float : 전체적으로 균일하게 나눠야할 때 사용함 .여기서 float 사용하게 되면 코드가 늘어짐. 좌우로 나눌 때는 position이 가장 빠른 방법임 */
    header > div nav ul li{
        display: inline-block; 
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.65%;  
    }
    /* margin-left 계산 : 네이버 퍼센트계산기 통해서 940px의 25px은 몇 %? 2.65% 나옴 */
    header > div nav ul li a{
        line-height: 50px; display: block; font-size:13px; color: #fff; 
        font-weight: 900; 
    }
    /* line-height 50px은 img 높이 재서 준 것 */
    header > div nav ul li a.active,
    header > div nav ul li a:hover{
        color: #00e0d0;
    }
/* header GNB Fin */
    header > div > ul{
        margin-bottom: 125px;
    }
    header > div > ul li{
        padding-top: 165px; display: block;
    }
    header > div > ul li h2{
        font-size: 32px; color: white; font-weight: 900; text-align: center;
        padding-bottom: 22px; background: url('../images/border.png') no-repeat center bottom; margin-bottom: 30px;
    }
    header > div > ul li p{
        font-size: 14px; color: white; font-weight: 300; line-height: 24px; text-align: center;
        max-width: 775px; margin: 0 auto 50px;
    }
    /* 
    ★Tip)
    font마다 자동으로 규정되는 line-height가 있음 예를들어 margin 30 폰트를 밀어야한다면 5px을 깐 25px을 부여해줌 
    >> 우리가 생각하는 수치보다 line-height가 포함되어 더 들어가기때문에 */
    header > div > ul li a.btn_more{
        max-width: 120px; margin: 0 auto;
    }
    header > div > ol{
        text-align: center;
    }
    header > div > ol li{
        display: inline-block;
    }
    header > div > ol li a{
        text-indent: -9999px; display: block; width: 8px; height: 8px; border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.8); 
    }
    header > div > ol li a.active,
    header > div > ol li a:hover{
        background-color: #00e0d0; border-color: none;
    }
    /* border를 none하면 2px이 사라져서 모양이 이상해지기 때문에 color를 건드려야함 */
/* header Fin */
    footer{
        background: url('../images/bg_05.png') left top / cover no-repeat;
    }
    footer > div div:not(:last-of-type){
        float: left; width: 32%; margin: 0 0 70px 2%;
    }
    footer > div div:first-of-type{
        margin-left: 0;
    }
    /* 맨 왼쪽 애는 margin-left 취소해준 것 */
    footer > div div h2{
        margin-bottom: 20px; 
    }
    footer > div div:not(:first-of-type) h2{
        line-height: 50px; font-size: 15px; font-weight: 900; color: white; 
    }
    /* tajam logo 높이 50px을 h2 line-height(줄간격)으로 넣어줘서 정렬한 것 */
    footer > div div:not(:nth-of-type(3)){
        font-size: 14px; line-height: 26px; color: white;
    }
    /* 1,2번 애들은 14px light 똑같으나 3번 애는 달라서 >> 1,2,4 동일적용 */
    footer > div div:not(:nth-of-type(3)) a{
        color: white;
    }
    footer > div div:nth-of-type(1),
    footer > div div:nth-of-type(2){
        font-weight: 300;
    }
    footer > div div:nth-of-type(2) address{
        font-style: normal;
    }
    /* 이탤릭 폰트 해제 */
    footer > div div:nth-of-type(2) address span{
        display: block; padding-left: 30px; background-repeat: no-repeat; background-position: left 5px;

    }
    footer > div div:nth-of-type(2) address span:nth-of-type(1){
        background-image: url('../images/bul_map.png'); margin-bottom: 10px;
    }
    footer > div div:nth-of-type(2) address span:nth-of-type(2){
        background-image: url('../images/bul_phone.png');
    }
    footer > div div:nth-of-type(3) input{
        display: block; float: left; box-sizing: border-box; margin-bottom: 25px;
    }
    footer > div div:nth-of-type(3) input[type='email']{
        width: 70%; font-size: 14px; line-height: 43px; border: 1px solid rgba(255, 255, 255, 0.5); 
        padding: 0 15px; background-color: transparent; color: white;
    }
    footer > div div:nth-of-type(3) input[type='email']::placeholder{
        color: rgba(255, 255, 255, 0.75);
    }
    footer > div div:nth-of-type(3) input[type='submit']{
        width: 25%; margin-left: 5%; text-indent: -9999px; border: none; line-height: 43px;
        background: url('../images/btn_submit.png') no-repeat center rgba(255, 255, 255, 0.5)
        /*
        ▲ 다중 background처리 : 배경색이랑 이미지 같이 처리가능  
        이미지 / 이미지에 대한 설정 / 배경색
        */
    }
    footer > div div:nth-of-type(3) ul{
        clear: both;
    }
    footer > div div:nth-of-type(3) ul li{
        display: inline-block; width: 35px; line-height: 35px;
    }
    /* Tip) float 할거면 퍼센트(%)로 완벽하게 처리하고, inline-block 할거면 px로 고정 */

    footer > div div:nth-of-type(3) ul li:not(:first-child){
        margin-left: 5px;
    }
    /* 
    ! 대부분의 큰 container 등급의 배치는 inline-block으로 불가.(float, flex 사용)
    * 상대적으로 작은 element 등급의 공간 배치는 inline-block으로 가능.
    */
    
    footer > div div:nth-of-type(3) ul li a{
        display: block; text-indent: -9999px; background-repeat: no-repeat; background-size: contain;
    }
    footer > div div:nth-of-type(3) ul li:nth-child(1) a{background-image: url('../images/ico_sns_01.png');}
    footer > div div:nth-of-type(3) ul li:nth-child(2) a{background-image: url('../images/ico_sns_02.png');}
    footer > div div:nth-of-type(3) ul li:nth-child(3) a{background-image: url('../images/ico_sns_03.png');}
    footer > div div:nth-of-type(3) ul li:nth-child(4) a{background-image: url('../images/ico_sns_04.png');}
    footer > div div:nth-of-type(3) ul li:nth-child(5) a{background-image: url('../images/ico_sns_05.png');}
    footer > div div:nth-of-type(3) ul li:nth-child(6) a{background-image: url('../images/ico_sns_06.png');}

    footer > div div:last-of-type{
        clear: both; font-weight: 400;
    }
    /*
    마지막 div가 끌려올라가는 현상 해결) 
    평소 쓰는 after cancle X,
    마지막이 없을 때 after 캔슬러 쓰는것 , 마지막 div에게 clear만 던지면됨 */
    footer > div div:last-of-type a{
        display: inline-block;
    }
    footer > div div:last-of-type a:not(:first-of-type){
        margin-left: ;
    }
    footer > div div:last-of-type p{
        float: right;
    }
    /* 다 끝나고 남은거 하나 자투리 보낼 때 float:right 쓰는 경우임 그 외는 left */
/* footer Fin */
}
/* ? desktop */
/* ★ header > footer > main page 순서로 보통 작업 */