body{
    background-color: #e4e5e7;
}

.mont{
    font-family: 'Montserrat';
}
.crim{
    font-family: 'Crimson Pro';
}
/* 
폰트 모듈방법  
폰트가 동일하게 썼다면 자손을 감싸고 있는 부모에게 class 주면 됨
input계열들은 직접 지정하거나 inherit 속성을 강제로 줘야함
! 선생님은 개별 class는 앞에 주고 모듈 class는 뒤에 주심
    >> 개별 속성이 뒤에 있으면 모듈을 씹어버릴 수 있고, 모듈이 깨지면 안되기때문에.
* 모듈링은 cancle이 안날 수가 없기때문에 성격에 맞게 쓰면됨.
*/
input[type='radio'],
input[type='checkbox']{
    display: none;
}
a:not(.contentArea fieldset legend a){
    text-decoration: none;
}

.selectBox{
    display: inline-block; box-sizing: border-box; background: url('../images/bg_arrow.png') no-repeat right center; 
}
.selectBox select{
    border: none; box-shadow: none; background-image: none; background-color: transparent; 
    appearance: none; font-family: inherit; font-weight: 600; padding: 10px 20px 10px 0;
    font-size: 11px; color: #343e5c;
}
/* ▲ selectBox 벗겨내는 코드(해킹 코드-표준에선 바람직하지 않음)
    select 코드는 font를 직접 내려받지 못하기때문에 inherit처리한 것.
    직접 지정해서 주면 모듈이 깨지기때문에 style로 준 것.
    option은 커스텀마이징이 안됨.
*/



/* ? A/U */


@media screen and (min-width : 1280px){
    header > div,
    header + nav .slideNav,
    .contentArea,
    .bestArea,
    footer > div{
        max-width: 1170px; margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header > div:after{
        content: ''; display: block; clear: both;
    }
    header > div > *{
        float: left; width: ;
    }
    header > div label.material-icons{
        width: 5.12%; max-width: 60px; line-height: 90px; box-sizing: border-box;
        border-right: 1px solid #f0f2f7; display: block;
    }
    /* google icon 지정하려면 class를 불러야 적용이 잘 됨. */
    header > div h1{
        width: 10.68%; max-width: 125px; 
    }
    header > div h1 a{
        display: block; padding: 31px 0; text-align: right;
    }
    header > div h1 a img{
        width: 100%; max-width: 92px;
    }
    header > div nav{
        width: 54.7%;
    }
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block; 
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header > div nav ul li a{
        display: block; font-size: 14px; font-weight: 600; color: #343e5c; line-height: 90px;
    }
    header > div div{
        width: 29.5%; font-size: 11px; color: #343e5c; text-align: right; line-height: 90px;
    }
    /* float가 가장 안적적인 상황 : width 100% 다 썼을 때 */
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{
        padding-left: 25px; font-weight: 600; line-height: 17px;
        background: url('../images/bul_cart.png') left top / contain no-repeat;
    }
    header > div div span{
        width: 24px; line-height: 24px; background-color: #e3e8f0; border-radius: 12px;
        text-align: center; margin-left: 2%; font-weight: 400; 
    }
    header > div div input[type='button']{
        font-family: inherit; font-size: 11px; font-weight: 600; padding: 8px 15px;
        border: 2px solid #e3e8f0; border-radius: 16px; background-color: white;
        margin-left: 8%; letter-spacing: 1px;
    }
    /* 
    디자이너는 자간(letter-spacing을 100 줬음. 우리는 100분의 1을 주면 됨)
    디자이너가 letter-spacing을 안쓰는게 가장 좋음. */
/* ? header Fin */

    .paging{
        position: relative; background-color: white; border-radius: 5px;
        clear: both;
    }
    .paging > a{
        position: absolute; top: 0; text-align: center; width: 17%; line-height: 90px;
        font-size: 18px; font-weight: 600; color: #3a405b; 
    }
    .paging > a:first-of-type{
        left: 0; border-right: 1px solid #f0f2f7
    }
    .paging > a:last-of-type{
        right: 0; border-left: 1px solid #f0f2f7
    }
    .paging ol{
        padding: 20px 17%; box-sizing: border-box; text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        display: block; width: 50px; line-height: 50px; border-radius: 25px;
        font-size: 14px; color: #3a405b; font-weight: 600; background-color: white;
        transition: box-shadow 0.3s ease-out;
    }
    .paging ol li a:hover{
        box-shadow: 0 5px 8px rgba(168, 172, 185, 0.62);
    }
/* ? pager Fin */

/* 
    footer todo. 
    1. footer에 할일 : background 지정
    2. max-width guide 설정해놓은 부분에 footer 내 guideBox div를 포함시켜주기
    3. guideBox안에는 divx2 구성(위, 아래 공간에서 해야할 것 css처리)
    4. span 부분을 우측처리 css작성
    5. 좌측부분인 h2, p 부분 처리
    6. 첫번째 div 안에 있는 menu li부분 정리
*/
    /* footer{
        background-color: #222328;
    }
    footer > div{
        padding: 70px 0;
    }
    footer > div:after{
        content: ''; display: block; clear: both; 
    }
    footer > div ul li{
        display: block; float: left; 
    }
    footer div:first-of-type{
        border-bottom: 1px solid #f0f2f7; 
    }
    footer div:first-of-type ul li{
        margin-left: 2.56%; text-align: center;
    }
    footer div:first-of-type ul li a{
        text-decoration: none;  font-size: 12px; font-weight: 600; color: white;
    }
    footer div span{
        margin-left: 23.93%; background: url('../images/Portland-UI-Free-Sample_88.png') left top / contain no-repeat;
    }
    footer div span a{
        text-decoration: none; color: white; margin-left: 28px; font-size: 12px;

    } */

    footer{
        background: #222328;
    }
    footer > div{
        padding: 60px 0; position: relative;
    }
    footer > div span{
        position: absolute; right: 0; top: 60px; display: block;
    }
    footer > div:first-child{
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    footer > div:first-child h2{
        max-width: 92px; position: absolute; left: 0; top: 60px; width: 7.86%;
    }
    footer > div:first-child h2 img{
        width: 100%; min-width: 78px; 
    }
    footer > div:first-child ul{
        text-align: center; padding: 0 10%;
    }
    footer > div:first-child ul li{
        display: inline-block; 
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:first-child ul li a{
        display: block; color: white; font-size: 12px; font-weight: 600;
    }
    footer > div:first-child span{
        width: 8.94%;
    }
    footer > div:first-child span a{
        display: inline-block; width: 24px; height: 18px; background-position: center;
        background-repeat: no-repeat; text-indent: -9999px;
    }
    footer > div:first-child span a:not(:first-of-type){
        margin-left: 2.4%;
    }
    
    footer > div:first-child span a:nth-child(1){background-image: url('../images/sns_02.png');}
    footer > div:first-child span a:nth-child(2){background-image: url('../images/sns_02.png');}
    footer > div:first-child span a:nth-child(3){background-image: url('../images/sns_02.png');}
    footer > div:nth-child(2) p{
        max-width: 510px; font-size: 14px; font-style: italic; font-weight: 400; line-height: 22px;
        color: rgba(255, 255, 255, 0.3); width: 50%;
    }
    footer > div:nth-child(2) span{
        width: 50%; text-align: right;
    }
    footer > div:nth-child(2) span a{
        font-size: 11px; font-weight: 600; color: rgba(255, 255, 255, 0.3); display: inline-block;
    }
    footer > div:nth-child(2) span a:last-of-type{
        margin-left: 2.56%;
    }
/* ? footer Fin */

}
/* tablet */

@media screen and (min-width : 1280px){
    header > div,
    header + nav .slideNav,
    .contentArea,
    .bestArea,
    footer > div{
        max-width: 1170px; margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header > div:after{
        content: ''; display: block; clear: both;
    }
    header > div > *{
        float: left; width: ;
    }
    header > div label.material-icons{
        width: 5.12%; max-width: 60px; line-height: 90px; box-sizing: border-box;
        border-right: 1px solid #f0f2f7; display: block;
    }
    /* google icon 지정하려면 class를 불러야 적용이 잘 됨. */
    header > div h1{
        width: 10.68%; max-width: 125px; 
    }
    header > div h1 a{
        display: block; padding: 31px 0; text-align: right;
    }
    header > div h1 a img{
        width: 100%; max-width: 92px;
    }
    header > div nav{
        width: 54.7%;
    }
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block; 
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header > div nav ul li a{
        display: block; font-size: 14px; font-weight: 600; color: #343e5c; line-height: 90px;
    }
    header > div div{
        width: 29.5%; font-size: 11px; color: #343e5c; text-align: right; line-height: 90px;
    }
    /* float가 가장 안적적인 상황 : width 100% 다 썼을 때 */
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{
        padding-left: 25px; font-weight: 600; line-height: 17px;
        background: url('../images/bul_cart.png') left top / contain no-repeat;
    }
    header > div div span{
        width: 24px; line-height: 24px; background-color: #e3e8f0; border-radius: 12px;
        text-align: center; margin-left: 2%; font-weight: 400; 
    }
    header > div div input[type='button']{
        font-family: inherit; font-size: 11px; font-weight: 600; padding: 8px 15px;
        border: 2px solid #e3e8f0; border-radius: 16px; background-color: white;
        margin-left: 8%; letter-spacing: 1px;
    }
    /* 
    디자이너는 자간(letter-spacing을 100 줬음. 우리는 100분의 1을 주면 됨)
    디자이너가 letter-spacing을 안쓰는게 가장 좋음. */
/* ? header Fin */

    .paging{
        position: relative; background-color: white; border-radius: 5px;
        clear: both;
    }
    .paging > a{
        position: absolute; top: 0; text-align: center; width: 17%; line-height: 90px;
        font-size: 18px; font-weight: 600; color: #3a405b; 
    }
    .paging > a:first-of-type{
        left: 0; border-right: 1px solid #f0f2f7
    }
    .paging > a:last-of-type{
        right: 0; border-left: 1px solid #f0f2f7
    }
    .paging ol{
        padding: 20px 17%; box-sizing: border-box; text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        display: block; width: 50px; line-height: 50px; border-radius: 25px;
        font-size: 14px; color: #3a405b; font-weight: 600; background-color: white;
        transition: box-shadow 0.3s ease-out;
    }
    .paging ol li a:hover{
        box-shadow: 0 5px 8px rgba(168, 172, 185, 0.62);
    }
/* ? pager Fin */

/* 
    footer todo. 
    1. footer에 할일 : background 지정
    2. max-width guide 설정해놓은 부분에 footer 내 guideBox div를 포함시켜주기
    3. guideBox안에는 divx2 구성(위, 아래 공간에서 해야할 것 css처리)
    4. span 부분을 우측처리 css작성
    5. 좌측부분인 h2, p 부분 처리
    6. 첫번째 div 안에 있는 menu li부분 정리
*/
    /* footer{
        background-color: #222328;
    }
    footer > div{
        padding: 70px 0;
    }
    footer > div:after{
        content: ''; display: block; clear: both; 
    }
    footer > div ul li{
        display: block; float: left; 
    }
    footer div:first-of-type{
        border-bottom: 1px solid #f0f2f7; 
    }
    footer div:first-of-type ul li{
        margin-left: 2.56%; text-align: center;
    }
    footer div:first-of-type ul li a{
        text-decoration: none;  font-size: 12px; font-weight: 600; color: white;
    }
    footer div span{
        margin-left: 23.93%; background: url('../images/Portland-UI-Free-Sample_88.png') left top / contain no-repeat;
    }
    footer div span a{
        text-decoration: none; color: white; margin-left: 28px; font-size: 12px;

    } */

    footer{
        background: #222328;
    }
    footer > div{
        padding: 60px 0; position: relative;
    }
    footer > div span{
        position: absolute; right: 0; top: 60px; display: block;
    }
    footer > div:first-child{
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    footer > div:first-child h2{
        max-width: 92px; position: absolute; left: 0; top: 60px; width: 7.86%;
    }
    footer > div:first-child h2 img{
        width: 100%; min-width: 78px; 
    }
    footer > div:first-child ul{
        text-align: center; padding: 0 10%;
    }
    footer > div:first-child ul li{
        display: inline-block; 
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:first-child ul li a{
        display: block; color: white; font-size: 12px; font-weight: 600;
    }
    footer > div:first-child span{
        width: 8.94%;
    }
    footer > div:first-child span a{
        display: inline-block; width: 24px; height: 18px; background-position: center;
        background-repeat: no-repeat; text-indent: -9999px;
    }
    footer > div:first-child span a:not(:first-of-type){
        margin-left: 2.4%;
    }
    
    footer > div:first-child span a:nth-child(1){background-image: url('../images/sns_02.png');}
    footer > div:first-child span a:nth-child(2){background-image: url('../images/sns_02.png');}
    footer > div:first-child span a:nth-child(3){background-image: url('../images/sns_02.png');}
    footer > div:nth-child(2) p{
        max-width: 510px; font-size: 14px; font-style: italic; font-weight: 400; line-height: 22px;
        color: rgba(255, 255, 255, 0.3); width: 50%;
    }
    footer > div:nth-child(2) span{
        width: 50%; text-align: right;
    }
    footer > div:nth-child(2) span a{
        font-size: 11px; font-weight: 600; color: rgba(255, 255, 255, 0.3); display: inline-block;
    }
    footer > div:nth-child(2) span a:last-of-type{
        margin-left: 2.56%;
    }
/* ? footer Fin */




}
/* desktop */